{% extends "layout.html" %}

{% block body %}

<h3>Hakkımda</h3>
<hr>
<p>Konya Teknik Üniversitesi, Mühendislik ve Doğa Bilimleri Fakültesi, Bilgisayar Mühendisliği Bölümü, Bilişim Teknolojileri Uygulaması için yapmış olduğum Futbol menajerleri için Yapay Zeka destekli scout web sitesi projesi. </p>


<p>Bu web sitesi Django Web Framework kullanılarak geliştirilmiştir. Yapay zeka modeli joblib kütüphanesi kullanılarak projeye entegre edilmiştir.</p>

<p>Yapay zeka modelinin başarı oranı %81.5 olarak gözlemlenmiştir. Model 3 tanesi kategorik değişken olmak üzere 18 değişken değerine göre tahmin yapmaktadır.</p>
<p></p>

<div class="col-md-10 offset-md-8">
    <div class="col-lg-8">
        <p><strong>161220090</strong></p>
<p><strong>Ömer Salih SÜLÜN</strong></p>
<p> <strong>omersalih.sulun@gmail.com</strong> </p>
  </div>
</div>
{% endblock body %}